.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.subscription_title{
    font-size: 47px;
    text-align: center;
    margin-bottom: 30px;
}
.card{
    width: 374px;
    height: 463px;
    border-radius: 28px;
    padding-left: 30px;
    padding-top: 30px;
    color:white;
}
.subscription{
    display: flex;
    gap:40px;
    flex-wrap: wrap;
    width: 1300px;
}
.free_card{
    background-color:#59b3ff;
}
.card_title{
    font-size: 41px;
    font-weight: 600;
    
}
.list{
    width: 300px;
    font-size: 20px;
    
}
.list li{
    margin-top: 5px;
}
.list li::before {
    content: '•';
    font-size: 15px;
    margin-right: 8px;
 }
 .btn{
    width: 190px;
    height: 40px;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 19px;
    color:black;
    margin-left: 50px;
 }
 .price{
    font-size: 32px;
 }
 .sub_block{
    position: absolute;
    bottom:20px;
    right:30px;
    text-align: right;
    
 }
 .base_card{
    background-color: #0000FF;
 }
 .base_list{
    width: 300px;
 }
 .pro_card{
    background-color: #5A00FF;
 }
 .price_base{
    margin-left: 23px;
 }
 .price_free{
    margin-left: 66px;
 }
 @media (min-width:320px) and (max-width:374px){
    .content{
        position: relative;
        top:0;
        left:0;
        transform:none;
      
    }
    .card{
        width: 300px;
        height: 350px;
    }
    .subscription_title{
        font-size: 24px;
        margin-top: 50px;
    }
    .subscription{
        margin:0 auto;
        width: 300px;
    }
    .card_title{
        font-size: 21px;

    }
    .list{
        width: 250px;
        font-size: 14px;
    }
    .list li::before{
        font-size: 11px;
    }
    .btn{
        width: 120px;
        height: 27px;
        font-size: 14px;
        margin-left: 120px;
    }
    .price{
        font-size: 20px;
        
    }

 }
 @media (min-width:375px) and (max-width:424px){
    .content{
        position: relative;
        top:0;
        left:0;
        transform:none;
      
    }
    .card{
        width: 350px;
        height: 400px;
    }
    .subscription_title{
        font-size: 28px;
        margin-top: 50px;
    }
    .subscription{
        margin:0 auto;
        width: 350px;
    }
    .card_title{
        font-size: 24px;

    }
    .list{
        width: 300px;
        font-size: 16px;
    }
    .list li::before{
        font-size: 12px;
    }
    .btn{
        width: 130px;
        height: 33px;
        font-size: 16px;
        
    }
    .price{
        font-size: 22px;
    }

 }
 @media (min-width:425px) and (max-width:767px){
    .content{
        position: relative;
        top:0;
        left:0;
        transform:none;
      
    }
    .card{
        width: 400px;
        height: 450px;
    }
    .subscription_title{
        font-size: 32px;
        margin-top: 50px;
    }
    .subscription{
        margin:0 auto;
        width: 400px;
    }
    .card_title{
        font-size: 26px;

    }
    .list{
        width: 370px;
        font-size: 18px;
    }
    .list li::before{
        font-size: 14px;
    }
    .btn{
        width: 150px;
        height: 36px;
        font-size: 18px;
        
    }
    .price{
        font-size: 24px;
    }

 }
 @media (min-width:768px) and (max-width:1023px){
    .content{
        position: relative;
        top:0;
        left:0;
        transform:none;
      
    }
    .card{
        width: 374px;
        height: 480px;
    }
    .subscription_title{
        font-size: 38px;
        margin-top: 50px;
    }
    .subscription{
        margin:0 auto;
        width: 374px;
    }
    .card_title{
        font-size: 28px;

    }
    .list{
        width: 320px;
        font-size: 18px;
    }
    .list li::before{
        font-size: 15px;
    }
    .btn{
        width: 160px;
        height: 36px;
        font-size: 18px;
        
    }
    .price{
        font-size: 26px;
    }

 }
 @media (min-width:1024px) and (max-width:1439px){
    .content{
        position: relative;
        top:0;
        left:0;
        transform:none;
      
    }
    .subscription{
        margin:0 auto;
        width: 800px;
    }
    .subscription_title{
        font-size: 34px;
        margin-top: 100px;
    }
    .card_title{
        font-size: 26px;
    }
    .list{
        width: 320px;
        font-size: 18px;
    }
    .price{
        font-size: 26px;
    }
    .btn{
        width: 170px;
        height: 35px;
        font-size: 18px;
        
    }
    
 }
 @media (min-width:1440px) and (max-width:1919px){
    .content{
        position: relative;
        top:0;
        left:0;
        transform:none;
      
    }
    .subscription{
        margin:0 auto;
        width: 1210px;
    }
    .subscription_title{
        
        margin-top: 50px;
        //l;sdkm//
    }
 }