.card{
   position: relative;
   width: 460px;
   height: 140px;
   border-radius: 30px;
   padding: 40px;
   margin: 20px;
   outline: 1px solid #000000;
   color:#ffffff;
   
}

.card-tittle{
   position: absolute;
   top: 20px;
   font-size: 35px;
   line-height: 140%;
}
.card-list > li{
   font-size: 20px;
line-height: 250%;
position: relative;
padding-left: 20px;
}


.card-list > li::before{
   content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

.search{
   position: relative;
   left: 0;

}

 @media  (min-width: 320px) {

   .card{
      width: 280px;
      height: 140px;
   border-radius: 30px;
   padding: 20px;
   margin: 20px;
   outline: 1px solid #000000;
   color:#ffffff;
   
}
.card-tittle{
   font-size: 24px;
   line-height: 140%;
}


 }

 @media  (min-width: 375px) and (max-width: 425px) {
   .cards{
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .card{
justify-content: center;
      width: 280px;
      height: 140px;
   border-radius: 30px;
   
   margin: 20px;
   outline: 1px solid #000000;
   color:#ffffff;
   
}
.card-tittle{
   font-size: 26px;
   line-height: 140%;
}


 }

 @media  (min-width: 425px) and (max-width: 768px) {
   .card{
      width: 400px;
      height: 140px;
   border-radius: 30px;
   
   margin: 20px;
   outline: 1px solid #000000;
   color:#ffffff;
   
}
.card-tittle{
   font-size: 35px;
   line-height: 140%;
}


 }

 @media  (min-width: 768px) and (max-width: 1024px) {
   .card{
      width: 340px;
      height: 140px;
   border-radius: 30px;
   
   margin: 20px;
   outline: 1px solid #000000;
   color:#ffffff;
   
}
.card-tittle{
   font-size: 30px;
   line-height: 140%;
}


 }

 @media  (min-width: 1024px) and (max-width: 1440px) {
   .card{
      width: 400px;
      height: 140px;
   border-radius: 30px;
   
   margin: 20px;
   outline: 1px solid #000000;
   color:#ffffff;
   
}
.card-tittle{
   font-size: 35px;
   line-height: 140%;
}


 }

 @media  (min-width: 1440px) and (max-width: 1920px) {
   .card{
      width: 460px;
      height: 140px;
   border-radius: 30px;
   padding: 40px;
   margin: 20px;
   outline: 1px solid #000000;
   color:#ffffff;
   
}

.card-tittle{
   font-size: 35px;
   line-height: 140%;
}


 }

 @media  screen and (min-width: 1920px)  {
   .card{
      width: 460px;
      height: 140px;
   border-radius: 30px;
   padding: 40px;
   margin: 20px;
   outline: 1px solid #000000;
   color:#ffffff;
   
}
   .card-tittle{
      font-size: 35px;
   line-height: 140%;
}


 }

