.title_kurses {
   color: #0000FF;
}

.olympiad_title {
   color: #4800FF;
}

.textbook_title {
   font-size: 70px;
   font-family: 'Murs-Gothic';
}
.international_title{
   color:black;
}

.information_text {
   font-size: 24px;
   line-height: 18px;
   color: #000000;
   font-weight: normal;
   font-family: "Geist Variable";
   margin-top: 10px;
  
}

.information_source {
   font-weight: bold;
   line-height: 120%;
}

.information_block {}



.button_downoload {
   width: 375px;
   height:45px;
   border-radius: 30px;
   text-align: center;
   background: blue;
   box-shadow: none;
   text-shadow: none;
   color: white;
}

@media  (min-width: 320px) and (max-width: 375px) {
   .title {
   font-family: 'Murs Gothic', sans-serif;
   font-weight: bold;
   margin-bottom: 35px;
   font-size: 14px;

   font-family: 'Murs-Gothic';
}  
.textbook_title {
   font-size: 20px;
   font-family: 'Murs-Gothic';
}

.information_text {
text-align: center;
   font-size: 16px;
   line-height: 18px;
   color: #000000;
   font-weight: normal;
   font-family: "Geist Variable";
   margin-top: 10px;
  
}
.information_block{
   justify-content: center;
   align-items: center;
   text-align: center;
   display: flex;
   flex-direction: column;
}
.button_downoload {
   width: 240px;
   height:45px;
   border-radius: 30px;
   text-align: center;
   background: blue;
   box-shadow: none;
   text-shadow: none;
   color: white;
}
.content{
   justify-content: center;
   align-items: center;
   text-align: center;
   display: flex;
   flex-direction: column;
}
.information_source{
   text-align: center;
   line-height: 200%;
}
}

@media  (min-width: 375px) and (max-width: 425px) {
   .title {
   font-family: 'Murs Gothic', sans-serif;
   font-weight: bold;
   margin-bottom: 35px;
   font-size: 16px;

   font-family: 'Murs-Gothic';
}  
.textbook_title {
   font-size: 20px;
   font-family: 'Murs-Gothic';
}

.information_text {
text-align: center;
   font-size: 18px;
   line-height: 18px;
   color: #000000;
   font-weight: normal;
   font-family: "Geist Variable";
   margin-top: 10px;
  
}
.information_block{
   justify-content: center;
   align-items: center;
   text-align: center;
   display: flex;
   flex-direction: column;
}
.button_downoload {
   width: 240px;
   height:45px;
   border-radius: 30px;
   text-align: center;
   background: blue;
   box-shadow: none;
   text-shadow: none;
   color: white;
}
.content{
   justify-content: center;
   align-items: center;
   text-align: center;
   display: flex;
   flex-direction: column;
}
.information_source{
   text-align: center;
   line-height: 200%;
}
}
@media  (min-width: 425px) and (max-width: 768px) {
   .title {
   font-family: 'Murs Gothic', sans-serif;
   font-weight: bold;
   margin-bottom: 35px;
   font-size: 20px;

   font-family: 'Murs-Gothic';
}  
.textbook_title {
   font-size: 24px;
   font-family: 'Murs-Gothic';
}

.information_text {
text-align: center;
   font-size: 20px;
   line-height: 18px;
   color: #000000;
   font-weight: normal;
   font-family: "Geist Variable";
   margin-top: 10px;
  
}
.information_block{
   justify-content: center;
   align-items: center;
   text-align: center;
   display: flex;


}
.button_downoload {
   text-align: center;
   width: 220px;
   height:45px;
   border-radius: 30px;
   text-align: center;
   background: blue;
   box-shadow: none;
   text-shadow: none;
   color: white;
}
.content{
   justify-content: center;
   align-items: center;
   text-align: center;
   display: flex;
   flex-direction: column;
}
.information_source{
   text-align: center;
}
}

@media  (min-width: 768px) and (max-width: 1024px) {
   .title {
   font-family: 'Murs Gothic', sans-serif;
   font-weight: bold;
   margin-bottom: 35px;
   font-size: 20px;

   font-family: 'Murs-Gothic';
}  
.textbook_title {
   font-size: 24px;
   font-family: 'Murs-Gothic';
}

.information_text {
text-align: center;
   font-size: 20px;
   line-height: 18px;
   color: #000000;
   font-weight: normal;
   font-family: "Geist Variable";
   margin-top: 10px;
  
}
.information_block{

}
.button_downoload {
margin-left: 10px;
   width: 240px;
   height:45px;
   border-radius: 30px;
   text-align: center;
   background: blue;
   box-shadow: none;
   text-shadow: none;
   color: white;
}
.content{

}
.information_source{
   text-align: center;
}
.information_block{
   display: flex;
}
}

@media  (min-width: 1024px) and (max-width: 1440px) {
   .title {
   font-family: 'Murs Gothic', sans-serif;
   font-weight: bold;
   margin-bottom: 35px;
   font-size: 24px;

   font-family: 'Murs-Gothic';
}  
.textbook_title {
   font-size: 28px;
   font-family: 'Murs-Gothic';
}

.information_text {

text-align: center;
   font-size: 24px;
   line-height: 18px;
   color: #000000;
   font-weight: normal;
   font-family: "Geist Variable";
   margin-top: 10px;
  
}
.information_block{

}
.button_downoload {
margin-left: 10px;
   width: 220px;
   height:45px;
   border-radius: 30px;
   text-align: center;
   background: blue;
   box-shadow: none;
   text-shadow: none;
   color: white;
}
.content{

}
.information_source{
   text-align: center;
   line-height: 150%;
}
.information_block{
   display: flex;
}
}