

.card{
   margin: 4vh;
   padding: 30px;
   border: 1px solid black;
   width: 600px;
   height: 200px;
   border-radius: 30px;
}
.card-tittle{
   font-size: 2rem;
}

.card-persent{
   position: relative;
   bottom: 30px;
}
@media (min-width:320px) and (max-width:374px){
   .content{
      justify-content: center;
      
   }
   .card{
      width: 300px;
      height: 100px;
      display: flex;
      align-items: center;
      
   }
   .card-tittle{
      font-size: 0.9rem;
   }
   .card-persent{
      position: absolute;
      right:20px;
      bottom:10px;
   }
}
@media (min-width:375px) and (max-width:424px){
   .content{
      justify-content: center;
      
   }
   .card{
      width: 350px;
      height: 120px;
      display: flex;
      align-items: center;
      
   }
   .card-tittle{
      font-size: 1.2rem;
   }
   .card-persent{
      position: absolute;
      right:20px;
      bottom:10px;
   }
}
@media (min-width:425px) and (max-width:767px){
   .content{
      justify-content: center;
      
   }
   .card{
      width: 400px;
      height: 140px;
      display: flex;
      align-items: center;
      
   }
   .card-tittle{
      font-size: 1.4rem;
   }
   .card-persent{
      position: absolute;
      right:20px;
      bottom:10px;
   }
}
@media (min-width:768px) and (max-width:1023px){
   .content{
      justify-content: center;
      
   }
}
@media (min-width:1024px) and (max-width:1439px){
   .content{
      justify-content: center;
      
   }
}
@media (min-width:1400px) and (max-width:1692px){
   .content{
      justify-content: center;
      
   }
}
