// app global css in SCSS form
/* Reset and base styles  */
@font-face {
	font-family: 'Geist'; 
	src: url('/Rozzcov/quasar-project/src/assets/fonts/Geist-1.3.0/statics-woff/Geist-Medium.woff2'); 
}

@font-face {
	font-family: 'MursGothic'; 
	src: url('/Rozzcov/quasar-project/src/assets/fonts/Murs Gothic/MursGothic-WideDark.ttf'); 
}

@font-face {
   font-family: "MursGothic";
   /* Браузер сначала попробует найти шрифт локально */
   src: local("Murs"),
        /* Если не получилось, загрузит woff2 */
        url("/Rozzcov/quasar-project/src/assets/fonts/Murs Gothic/MursGothic-WideDark.ttf") format("ttf"),
        /* Если браузер не поддерживает woff2, загрузит woff */
       
 }

